/* This means it will only affect till 48em */
@media (max-width: 48em){
    .locationList{
        max-height: 45vh;
        overflow: auto;
        width: 100%;
    }
    .weatherDetail{
        margin-top: 20px;
        max-height: 45vh;
        margin-bottom: 20px;
    }
}

.locationList{
    z-index: 10;
    width: 85%;
}

.forecast_title{
    text-align: center;
    width: 100%;
}

.dayWeather{
    background: #262626;
    margin: 8px;
    padding: 5px;

}

.dayWeather > div > div > span {
    color: azure;
}

.dayWeather > div > div > i {
    color: azure;
}

.dayWeather > div > div >svg {
    color: azure;
}

.dayWeather > div > div {
    color: azure;
}

.dayWeather > div {
    margin: 10px;
}